@model HomeViewModel
@{
    ViewBag.pageTitle = "Index home";
}


<div class="row">
    <div class="col-5 col-md-2 width m-0 p-0 bg-dark collapse show">
        <ul class="nav flex-column navbar-dark sticky-top">
            @foreach (var table in Model.listTable)
            {
                <li class="nav-item">
                    <h4 class="text-white">@table.tableName</h4>
                </li>
            }
        </ul>
    </div>
    <div class="col">

    </div>
</div>
